<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Đăng ký</title>
</head>
<style>
    .error_msg {
        color: red;
    }

    .error_div {
        margin-top: 5px;
    }
</style>
<script>

    const validateEmail = (email) => {
        return email.match(
            /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        );
    };


    function validateInput(inputField) {
        var input = inputField.value;
        
        var regex = /[^a-zA-Z\u0080-\uFFFF\s]/g;
        input = input.replace(regex, '');

        if(input !== inputField.value){
            alert("Các trường nhập họ tên chỉ cho phép nhập ký tự")
        }

        inputField.value = input;
    }

    function register() {
        let error = false;
        let data = {
            firstName: document.getElementById("id_fistName").value,
            lastName: document.getElementById("id_lastName").value,
            email: document.getElementById("id_email").value,
            username: document.getElementById("id_username").value,
            password: document.getElementById("id_password").value
        };
        if (data.firstName.trim() == "") {
            error = true;
            jQuery("#id_err-firstName").html("Tên đang để trống");
            jQuery("#id_err-firstName").show()
        }
        else if (data.firstName.trim().length >= 255) {
            error = true;
            jQuery("#id_err-firstName").html("Tên nhập không quá 255 ký tự");
            jQuery("#id_err-firstName").show()
        } else jQuery("#id_err-firstName").hide()

        if (data.lastName.trim() == "") {
            error = true;
            jQuery("#id_err-lastName").html("Họ và tên đệm đang để trống");
            jQuery("#id_err-lastName").show()
        }
        else if (data.firstName.trim().length >= 255) {
            error = true;
            jQuery("#id_err-lastName").html("Họ và tên đệm nhập không quá 255 ký tự");
            jQuery("#id_err-lastName").show()
        } else jQuery("#id_err-lastName").hide()

        if (data.email.trim() == "") {
            error = true;
            jQuery("#id_err-email").html("Email đang để trống");
            jQuery("#id_err-email").show()
        }
        else if (data.email.trim().length >= 255) {
            error = true;
            jQuery("#id_err-email").html("Email nhập không quá 255 ký tự");
            jQuery("#id_err-email").show()
        }
        else if (!validateEmail(data.email.trim())) {
            error = true;
            jQuery("#id_err-email").html('Email hợp lệ phải có dạng "example@email.com"');
            jQuery("#id_err-email").show()
        } else jQuery("#id_err-email").hide()


        if (data.username.trim() == "") {
            error = true;
            jQuery("#id_err-username").html("Username đang để trống");
            jQuery("#id_err-username").show()
        }
        else if (data.firstName.trim().length >= 255) {
            error = true;
            jQuery("#id_err-username").html("Username nhập không quá 255 ký tự");
            jQuery("#id_err-username").show()
        } else jQuery("#id_err-username").hide()


        if (data.password.trim() == "") {
            error = true;
            jQuery("#id_err-password").html("Password đang để trống");
            jQuery("#id_err-password").show()
        }
        else if (data.firstName.trim().length >= 255) {
            error = true;
            jQuery("#id_err-password").html("Password nhập không quá 255 ký tự");
            jQuery("#id_err-password").show()
        } else jQuery("#id_err-password").hide()

        if (error) return;
        fetch("/api/register", {
            method: "POST",
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(data)
        }).then(r => r.json().then(data => ({ status: r.status, body: data })))
            .then(obj => {
                const arrayError = ["id_err-firstName", "id_err-lastName", "id_err-email", "id_err-username", "id_err-password"];
                for (const id of arrayError) {
                    document.getElementById(id).innerHTML = "";
                }
                if (!obj.body.error) {
                    alert("Đăng ký thành công, hãy liên hệ với admin để đuợc cấp quyền truy cập hệ thống")
                    location.href = '/';
                }
                console.log(obj.body.error);
                document.getElementById("id_error").innerHTML = obj.body.error
            });

    }
</script>

<body>
    <div class="container" style="margin-top: 50px;">
        <div class="row"
            style="border: 1px darkgrey solid; border-radius: 10px;width: 50%; margin: 0 auto; padding: 20px;">
            <div class="col-sm-12">
                <h3>Đăng ký tài khoản truy cập hệ thống</h3>
                <!-- <form action="login" method="post"> -->

                <div class="form-group">
                    <label>Tên</label>
                    <input id="id_fistName" type="text" class="form-control" name="username" placeholder="Nhập tên"
                        oninput="validateInput(this)">
                    <div class="error_div">
                        <i class="error_msg" id="id_err-firstName"></i>
                    </div>
                </div>
                <div class="form-group">
                    <label>Họ + tên đệm</label>
                    <input id="id_lastName" type="text" class="form-control" name="username"
                        placeholder="Nhập họ và tên đệm" oninput="validateInput(this)">
                    <div class="error_div">
                        <i class="error_msg" id="id_err-lastName"></i>
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input id="id_email" type="text" class="form-control" name="password" placeholder="Nhập email">
                    <div class="error_div">
                        <i class="error_msg" id="id_err-email"></i>
                    </div>
                </div>
                <div class="form-group">
                    <label>Tài khoản</label>
                    <input id="id_username" type="text" class="form-control" name="otp" placeholder="Nhập tài khoản">
                    <div class="error_div">
                        <i class="error_msg" id="id_err-username"></i>
                    </div>
                </div>
                <div class="form-group">
                    <label>Mật khẩu</label>
                    <input id="id_password" type="password" class="form-control" name="otp" placeholder="Nhập mật khẩu">
                    <div class="error_div">
                        <i class="error_msg" id="id_err-password"></i>
                    </div>
                </div>

                <p id="id_error" style="color: red" th:text="${error}"></p>
                <button id="id_btn_register" onclick="register()" class="btn btn-primary">Đăng ký</button>
                <button id="id_btn_verify" onclick="verify()" style="display: none" class="btn btn-primary">Xác
                    nhận</button>
                <!-- </form> -->
            </div>
        </div>
    </div>
</body>

</html>